body {
  background-color:#add1b0;
  text-align: center;
}

.navBar {
	background-image: linear-gradient(to right, #4da6ff, #ffff80);
  text-align: center;
    
}

.navBar ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

.navBar li {
    display: inline-block;
}

.navBar a {
  	display: inline-block;
  	color:  #ffffff;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 18px;

}

.navBar li a:hover {
  	background-color: #99ccff;
  	opacity: 1;
  	color: white;
}

.active {
	font-size: 18px;
	font-weight: bold;
}

h3 {
  padding-top: 12px;
  padding-bottom: -6px;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.divFoto{
  padding-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: -50px;
}

.fotoPerfil {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 10px;
}
.divProfile {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

input[type=text]{
    width:480px;
    height: 42.5px;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    font-size: 18px;
}
  
input[type=text]:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

textarea{
    width:480px;
    height: 200px;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    margin-bottom: 50px;
    font-size: 18px;
}
  
textarea:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

.save {
  background-color: #6cac71;
  border-radius:28px;
  border:3px solid green;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:25px;
  font-weight:bold;
  padding:5px 150px;
  text-decoration:none;
  margin-bottom: 50px;
  margin-top: -100px;
}
.save:hover {
  background-color:#7cb681;
  color: white;
}

.save:active {
  position:relative;
  top:1px;
}
