/* geral */

body {
  background-color:#add1b0;
  text-align: center;
}

h3 {
  padding-top: 12px;
  padding-bottom: -6px;
  font-weight: bold;
  color: white;
  opacity: 1;
}

p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

hr {
      color: white;
      background-color: white;
      height: 1px;
      margin-left: 2%;
      margin-right: 2%;
    }

input[type=text]{
    width:85%;
    height: auto;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    font-size: 18px;
}
  
input[type=text]:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

input[type=password]{
    width:85%;
    height: auto;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    font-size: 18px;
}
  
input[type=password]:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

input[type=date]{
    width:85%;
    height: auto;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    font-size: 18px;
}
  
input[type=date]:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

input[type=time]{
    width:85%;
    height: auto;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    font-size: 18px;
}
  
input[type=time]:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

input[type=number]{
    width:85%;
    height: auto;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    font-size: 18px;
}
  
input[type=number]:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

textarea{
    width: 85%;
    height: 80%;
    display: block;
    border:2px solid #ccffcc;
    border-radius:4px;
    margin:auto;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    margin-bottom: 50px;
    font-size: 18px;
}
  
textarea:focus{
    border-color:green;
    box-shadow:0 0 8px 0 green;
}

.active {
  font-size: 18px;
  font-weight: bold;
}

/* index.html */

.divPrincipalLogin {
  padding: 10% 0 0;
  margin: auto;
}

.divLogin {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.entrarLogin {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 85%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.entrarGrupo {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFFFFF;
  width: 10%;
  border: 0;
  padding: 10px;
  color: #3ec5c9;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/* nav */

.navBar {
	background-image: linear-gradient(to right, #4da6ff, #ffff80);
  text-align: center;
  width: auto;
    
}

.navBar ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

.navBar li {
    display: inline-block;
}

.navBar a {
  	display: inline-block;
  	color:  #ffffff;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 18px;

}

.navBar li a:hover {
  	background-color: #99ccff;
  	opacity: 1;
  	color: white;
}

/* profilePage.html */

.divFoto{
  padding-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: -50px;
}

.fotoPerfil {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 10px;
}

.divProfile {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.labelPerfil {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.save {
  width: 150px;
  color: white !important;
  text-transform: uppercase;
  background: transparent;
  padding: 12px;
  border: 4px solid white !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-bottom: 50px;
  margin-top: -50px;
}

.save:hover {
color: white;
border-radius: 50px;
border-color: white;
transition: all 0.3s ease 0s;
}

/* frontPage.html */

.gruposDiv {
  margin-top: 25px;
  width: auto;
  height: auto;
  float: middle;
  margin-left: 2%;
  margin-right: 2%;
  background: rgba(71,174,215,1);
  border-radius: 0px 50px 30px 50px;
  -moz-border-radius: 0px 50px 50px 30px;
  -webkit-border-radius: 0px 50px 50px 30px;
  border: 2px solid white; 
  text-align: left;     
}

.labelGrupos {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 15px;
}

.buttonGrupo1 {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background: #2582a7;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 8px;
  border: 5px black;
}

.buttonGrupo1:hover {
  color: white;
  opacity: 0.9;
}

/* myGroupPage.html */

.meusGruposDiv {
  margin-top: 25px;
  width: auto;
  height: auto;
  float: middle;
  margin-left: 2%;
  margin-right: 2%;
  background: #d78f47;
  border-radius: 0px 50px 30px 50px;
  -moz-border-radius: 0px 50px 50px 30px;
  -webkit-border-radius: 0px 50px 50px 30px;
  border: 2px solid white; 
  text-align: left;     
}

.meusGruposCriadosDiv {
  margin-top: 25px;
  width: auto;
  height: auto;
  float: middle;
  margin-left: 2%;
  margin-right: 2%;
  background: #d78f47;
  border-radius: 0px 50px 30px 50px;
  -moz-border-radius: 0px 50px 50px 30px;
  -webkit-border-radius: 0px 50px 50px 30px;
  border: 2px solid white; 
  text-align: left;     
}

.sairGrupo {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background: #8a173f;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 8px;
  border: 5px black;
}

.sairGrupo:hover {
  color: white;
  opacity: 0.9;
}

.excluirGrupo {
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background: #8a173f;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 8px;
  border: 5px black;
  display: inline;
}

.excluirGrupo:hover {
  color: white;
  opacity: 0.9;
}

/* treePage.html */

.accordion {
  margin-top: 15px;
  margin-left: 0%;
  margin-right: 0%;
  width: 99%;
  padding: 10px;
  padding-left: 40px;
  height: auto;
  background-color: #ebd483;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  transition: 0.2s;
}

.accordion:hover {
  opacity: 0.8;
}

.panel {
  margin-left: 0.5%;
  margin-right: 0%;
  width: 99%;
  padding: 5px;
  display: none;
  background-color: #dbcfa3;
  overflow: hidden;
}

table {
  width: 99%;
}

td {
  color: white;
  font-size: 18px;
}

.tdEspecial{
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;

}

.fotoTree {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 10px;
}

/* createGroupPage.html */

.labelCreateGroup {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
}

.createGroup {
  width: 150px;
  color: white;
  text-transform: uppercase;
  background: transparent;
  padding: 12px;
  border: 4px solid white;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-bottom: 50px;
  margin-top: -50px;
}

.createGroup:hover {
color: white;
border-radius: 50px;
border-color: white;
transition: all 0.3s ease 0s;
}